NEXT_PUBLIC_SERVICE_ID="Email Service ID"
NEXT_PUBLIC_TEMPLATE_ID="Email Template ID"
NEXT_PUBLIC_PUBLIC_KEY="Email.js Public Key"

# Following env variables should be replaced with your own hosted github stats, then use these env variables in the URL

NEXT_PUBLIC_GITHUB_STATS_URL="https://github-readme-stats.vercel.app"
NEXT_PUBLIC_GITHUB_STREAK_STATS_URL="https://github-readme-streak-stats.herokuapp.com"